In [1]:
# connect to db
# Import the load_dotenv function from the dotenv module
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Retrieve connection parameters from environment variables
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
port = os.getenv('port')
database = os.getenv('database')

# Form the connection string for the SQL magic command
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

# Load SQL magic if not already loaded
%load_ext sql

# Connect to the database using the connection string
%sql $connection_string

## Business Question:
Who are the top insiders based on the value of their transactions, and what are the patterns in their trading activities?

In [36]:
%%sql
SELECT Insider, 
       COUNT(*) AS transaction_count, 
       SUM(Value) AS total_value, 
       AVG(Value) AS average_value 
FROM insider_transactions 
GROUP BY Insider 
ORDER BY total_value DESC 
LIMIT 10;

 * mysql+pymysql://admin:***@mayah-bosworth-sql-project.cmhtgvzs0rf5.us-east-1.rds.amazonaws.com:3306/mayah_bosworth_sql_project
10 rows affected.

[('JOHNSON RADY A\nOfficer', 4, 3276.0, 819.0),
 ('SELIPSKY ADAM N\nOfficer', 14, 2756.0, 196.85714285714286),
 ('HERRINGTON DOUGLAS J\nOfficer', 9, 2499.0, 277.6666666666667),
 ('DAMICO JENNIFER B.\nOfficer', 9, 1909.0, 212.11111111111111),
 ('ERDOES MARY E.\nOfficer', 3, 1663.0, 554.3333333333334),
 ('KONDO CHRISTOPHER\nOfficer', 6, 1593.0, 265.5),
 ('LAKE MARIANNE\nOfficer', 3, 1541.0, 513.6666666666666),
 ('BEER LORI A\nChief Technology Officer', 4, 1481.0, 370.25),
 ('MCDERMOTT MICHAEL\nOfficer', 4, 1379.0, 344.75),
 ('DADLANI MANESH\nOfficer', 9, 1341.0, 149.0)]

## Insight
- Multiple officers have made a notable number of transactions, with varying total and average values.
- Adam N. Selipsky shows the highest transaction count, but not the highest total value, indicating smaller but more frequent trades.
- Rady A. Johnson, despite fewer transactions, shows a high total value, indicating larger individual trades.
## Recommendation
- Scrutinize the trading patterns of officers like Selipsky for insights into the operational level confidence within their companies.
- Assess the larger transactions by individuals such as Johnson for possible strategic shifts or personal confidence in the company's future.
## Prediction
- The frequency and volume of insider trades could precede significant stock price movements; high transaction volumes can indicate insider confidence levels.

## Business Question:
How are trading volume changes categorized and what are the average volume and percentage change?

In [39]:
%%sql
WITH VolumeChanges AS (
  SELECT symbol,
         Volume,
         AVG(Volume) OVER (PARTITION BY symbol, DATE_FORMAT(Date, '%Y-%u')) AS avg_volume_weekly,
         (Volume - AVG(Volume) OVER (PARTITION BY symbol, DATE_FORMAT(Date, '%Y-%u'))) / AVG(Volume) OVER (PARTITION BY symbol, DATE_FORMAT(Date, '%Y-%u')) AS pct_change
  FROM trading_volume
)
, CategorizedChanges AS (
  SELECT symbol,
         Volume,
         pct_change,
         CASE 
           WHEN ABS(pct_change) BETWEEN 0.5 AND 0.75 THEN 'Moderate'
           WHEN ABS(pct_change) > 0.75 THEN 'Significant'
           ELSE 'Minor'
         END AS change_category
  FROM VolumeChanges
  WHERE ABS(pct_change) > 0.5
)
SELECT symbol,  
       AVG(Volume) AS avg_volume,
       AVG(pct_change) AS avg_pct_change,
       MAX(change_category) AS max_change_category
FROM CategorizedChanges
GROUP BY symbol
ORDER BY symbol DESC;

 * mysql+pymysql://admin:***@mayah-bosworth-sql-project.cmhtgvzs0rf5.us-east-1.rds.amazonaws.com:3306/mayah_bosworth_sql_project
12 rows affected.

[('XOM', 33.57142857142857, 0.9190226762533756, 'Significant'),
 ('TPR', 5.631578947368421, 0.7647020172153227, 'Significant'),
 ('PFE', 48.80434782608695, 0.43458148546057196, 'Significant'),
 ('MRK', 13.826086956521738, 0.926900514207083, 'Significant'),
 ('JPM', 16.40909090909091, 0.8272767605065742, 'Significant'),
 ('JLL', 466.42857142857144, 0.47581650146948656, 'Significant'),
 ('GS', 13.697211155378486, 2.7114211716941075e-16, 'Significant'),
 ('F', 90.92307692307692, 0.6921251803731229, 'Significant'),
 ('DIS', 21.4, 0.6491863678231502, 'Significant'),
 ('C', 27.61904761904762, 0.6908246225319397, 'Significant'),
 ('AMZN', 93.3125, 0.8545757779713359, 'Significant'),
 ('AAPL', 99.42105263157895, 0.7353744235414684, 'Significant')]

## Insight:
- All symbols experienced "Significant" trading volume changes, indicating widespread market volatility.
- Despite varying average volumes, all symbols showed notable shifts, suggesting broad market interest.
## Recommendation:
- Analyze factors driving volume changes for each symbol.
- Strengthen monitoring to detect market manipulation.
- Collaborate with regulators and stakeholders for insights.
## Prediction:
- Expect continued market volatility.
- Anticipate increased regulatory scrutiny.
- Foresee adaptive trading strategies in response to market dynamics.